body{
  font-family: Arial;
  position: absolute;
  background: #FFFFFF;
}
 .tx1{
font-family: Roboto;
font-style: normal;
letter-spacing: 0.005em;

color: #157698;
 }

 .tx2{



font-family: Roboto;
font-style: normal;
letter-spacing: 0.005em;

color: #A9A9A9;
 }

.inform{
  height: 500px;
}

.mine{
  width: 200px;
  float: right;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #456C97;
}

.icon{
  width: 22px;
}

.h1{
  padding-left: 30px;
  padding-top: 50px;

}
.h5{
  padding-left: 30px;
}

.sources{
  padding-top: 40px;
  padding-left: 80px;
}

.c1{
  width: 100%;
  height: 40px;
  background-color: #456C97;
}

.res{
  background-color: #EBEBEB  ;
}

a{
  text-decoration: none;
}

.tx{
  color: #6EB2CA  ;
}

.size{
  font-size: 15px;
}
